body {
  background: #000;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* BLOCO */
.bloco {
  padding: 30px 10px;
  max-width: 900px;
  margin: 0 auto 40px;
}

/* TÍTULOS */
.titulo {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 22px;
  position: relative;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

.titulo::after {
  content: "";
  display: block;
  height: 4px;
  width: 140px;
  margin: 10px auto 0;
  border-radius: 10px;
  background: linear-gradient(90deg, #76f350, #f78401);
}

/* PERSONAGENS */
.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}

.item {
  font-size: large;
  font-weight: 600;
}

.item h4 {
  background: #0f0f0f;
  padding: 10px 18px;
  border-radius: 12px;
  border: 2px solid #ff9800;
  transition: 0.3s;
}

.item h4:hover {
  transform: scale(1.06);
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.8);
}

/* LIVROS */

.lista {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;

}

.lista p {
  background: #0b0b0b;
  padding: 14px 14px;
  border-radius: 12px;
  border: 1px solid #242424;
  text-align: center;
  font-size: 1.2rem;
  transition: 0.3s;
}


.l1 { color: #f78401; }
.l2 { color: #ff4d2a; }
.l3 { color: #3aa8ff; }
.l4 { color: #3bff27; }
.l5 { color: #ff4fe9; }

/* FILMES */
.filmes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 18px;
}

.filme-card {
  background: linear-gradient(145deg, #0b0b0b, #171717);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  border: 1px solid #2a2a2a;
  transition: 0.35s;
}


.filme-card h3 {
  font-weight: bolder;
  margin-bottom: 6px;
  font-size: 1.60rem;
}

.ano {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 999px;
  margin-bottom: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 18px;
}

.slogan {
  font-size: 1rem;
  font-style: italic;
  opacity: 0.95;
  font-size: 19px;
}
