body {
    background-color: black;
}

/* Personagens, filmes e livros */

.titulo {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  

  position: relative;
  width: fit-content;
  margin: 0 auto 16px auto; 
  border-bottom: 4px solid orange;
  padding-bottom: 8px;

}


.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0 20px;
}

.item {
  text-align: center;
  max-width: 200px;
}

.img {
  width: 100%;
  max-width: 180px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.img:hover {
  transform: scale(1.05);
}

section {
  margin: 60px 0;
}

.imgp {
  width: auto;  
  height: auto;     
  height: 160px;       
  max-width: 180px;   
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  object-fit: cover;   
  transition: transform 0.3s ease;
}

section {
   margin: 0px 0px;
   
}