
/* Navbar */

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  background-color: #111;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.logo {
  height: 50px;
  width: auto;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

