/* reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}


.separator {
  width: 100%;
  height: 6px;
  margin: 40px auto;
  border-radius: 3px;
  background: linear-gradient(90deg, #76f350, #f78401); /* verde → laranja */
}


/* section fullscreen */
.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/* imagem de fundo */
.hero img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.35) contrast(1.1);
}

/* conteúdo central */
.hero-content {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  height: auto;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}


/* grid de cards */
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 18px;
}

/* card */
.card {
  background: rgba(255, 255, 255, 0.014);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  padding: 16px 18px;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.6);
}



.tag {
  display: inline-block;
  font-size: 0.9rem;          
  padding: 15px 35px;
  background: linear-gradient(135deg, #76f350fd, #f78401);
  border-radius: 500px;
  color: #000000;            
  font-weight: 800;
  letter-spacing: 1.5px;     
  text-transform: uppercase; 
  margin-bottom: 10px;
}


.frase {
  color: #f7f7f7;
  line-height: 1.9;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  letter-spacing: 0.3px;
}


.personagem {
  color: #ffd27c;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: bold;
}
